body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #b3e5ff; /* Sky blue background */
}

header {
    background: #005f99; 
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    font-size: 16px;
}

nav a:hover {
    text-decoration: underline;
}

.content {
    background: white;
    margin: 30px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

/* YOUR PHOTO */
.profile-photo-box {
    text-align: center;
    margin-bottom: 20px;
}

.profile-photo {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #005f99;
}

.media-gallery {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.media-gallery img {
    width: 48%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.video-box {
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    background: #000;
}

.fav-links li {
    margin: 8px 0;
}

.fav-links a {
    color: #005f99;
    font-weight: bold;
    text-decoration: none;
}

.fav-links a:hover {
    text-decoration: underline;
}

footer {
    background: #005f99;
    color: white;
    padding: 15px;
    text-align: center;
    margin-top: 40px;
}
